{
  "presets": [
    ["@babel/preset-env", {"useBuiltIns": "entry", "corejs": 3, "targets": {"esmodules": true }}]
  ],
  "plugins": [
    "@babel/plugin-proposal-partial-application",
    ["@babel/plugin-proposal-pipeline-operator", {"proposal": "fsharp"}],
    "@babel/plugin-transform-arrow-functions"
  ]
}
