{
  "presets": [
    ["@babel/es2015", { "modules": false }]
  ],
  "plugins": [
    "babel-plugin-macros",
    "@babel/plugin-proposal-pipeline-operator",
    "@babel/plugin-transform-arrow-functions"
  ]
}